header {
    font-size: 3rem;
    text-align: center;
}

form .form-group label.control-label {
    text-align: left;
}

.center {
    text-align:  center;
}

.error {
    background: red;
    margin-bottom: 10px;
    padding: 10px;
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 0;
    left: 0;
}

.categories {
    background: #fff;
    border-style: solid;
    border-color: #DFD7CA;
    border-width: 0 1px 1px 1px;
    padding: 5px;
    z-index: 100;
}